*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    overflow-x: hidden;    
}
.background{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;      
    background-image: url(./asset/imagenes/fondos/74222556-comida-rápida-textura-de-fondo-azul.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    
}

header{
    font-size: 28px;
    width: 100%;
    background-image: url(./asset/imagenes/logos/Fondo-tu-Promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;      
    padding: 10px 20px;
    margin:0 auto;
    max-width: 1200px;
    box-shadow: 10px 10px 8px #c3b605d8;
    border-radius: 10px;
    
}
.logo{
    display: flex;
   
}

.logo img{
    height: 130px;
    max-width: 100%;
    margin: 10px;   
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul a{
    font-family: sans-serif;
    text-decoration: none;
    color: #ff0000;
    padding: 15px;
    font-weight: 900;   
   
}
nav ul a:hover{
    /*background-color: rgb(0,0,0,0.4);*/
    box-shadow: 10px 10px 12px 1px #ff0000;
    border-radius: 5px;
    
}

.menu-vertical{
    display: none;
    list-style-type: none;
    padding-left: 20px;
}
.menu li:hover > .menu-vertical{
    display: block;
    position: absolute;
    background-color: #ef2d2dea;
    box-shadow:  10px 16px rgb(0,0,0,0.4);
    border-radius: 10px;
    z-index: 1;
}
.menu-vertical li a{
    font-size: 20px;
    color: #fff000;
    text-decoration: none;
    display: block;
}
.menu-vertical li:hover{
    background-color: transparent;
}

.contenedor-volver-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.volver-menu {
    display: inline-block;
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón (igual al ancho para que sea circular) */
    line-height: 60px; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    background-color: #fff000; /* Color de fondo */
    color: firebrick; /* Color del texto */
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%; /* Hace que el botón sea circular */
    border: none; /* Opcional: elimina bordes */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    transition: background-color 0.3s ease; /* Transición suave */
}

.volver-menu:hover {
    background-color: #ff0000; /* Cambia el color al pasar el mouse */
    color: #fff000;
}

.volver-menu:hover {
    background-color: #ff0000;
    color: #fff000;
}

@import  url(./aderezos.css)
